{% extends 'challenges/base.html' %}

{% block content %}

<body class = "masthead bg-primary">
    <div class = "container">

        <button class =" btn-secondary"  type="button" onclick="location.href='{% url 'accounts:change_password' %}' ">reset password</button>
        <h2 class="text-white text-center">Student ID: {{user.student_id}}</h2>
        <h2 class="text-white text-center">Name: {{user.nickname}}</h2>
        <br><br><br>
        {% if m_answer%}
        <div class="mb-3 text-center">
            <h4>Your Challenge Score</h4>
            <div class="container">
              <table class="table table-hover table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th>Challenge</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody class="text-white" >

                  {% for ans in m_answer %}
                  <tr>
                      <td><a href = "{% url 'challenges:detail' ans.question.id%}" class="text-white"> {{ans.question}}</a></td>
                    <td>{{ans.score}}/{{ans.question.max_score}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% if unsubmitted %}
            <p>You haven't submitted following challenges</p>
            {% for q in unsubmitted %}
            <ul class="list-group">
                <li><a href = "{% url 'challenges:detail' q.id %}" class="list-group-item active">{{q}}</a></li>
            </ul>
            {% endfor %}

            {% else%}
            <p class="text-success text-wrap">You Submitted All The Challenges!</p>
            {% endif%}
            <p>total score: {{ m_user.total_score }}</p>
        </div>
        {% else %}
        <p>No Answer registered</p>
        {% endif%}
    </div>
</body>

{% endblock %}