{% extends 'challenges/base.html' %}

{% block content %}

<head>
  <title>Change Password</title>
</head>

<body class = "masthead bg-primary">
    <div class="container">
    <h3 class="text-center text-white pt-5">Change Password</h3>
        <div class = "row justify-content-center align-items-center">
            <form class = "form-group input text-white font-weight-bold" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <p class="text-warning">{{ error }}</p>
                <button class = btn-primary type="submit">Save Changes</button>
            </form>
            <br>
        </div>
    </div>
</body>



{% endblock %}
